<p id="notice"><%= notice %></p>

<p>
  <strong>Aception:</strong>
  <%= @translation.aception_id %>
</p>

<p>
  <strong>Aception:</strong>
  <%= @translation.aception_id %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
