<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dictionary.title %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @dictionary.difficulty %>
</p>

<p>
  <strong>Access:</strong>
  <%= @dictionary.access %>
</p>

<p>
  <strong>User:</strong>
  <%= @dictionary.user_id %>
</p>

<p>
  <strong>Language id own:</strong>
  <%= @dictionary.language_id_own %>
</p>

<p>
  <strong>Language id for:</strong>
  <%= @dictionary.language_id_for %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
