<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dictionary.title %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @dictionary.difficulty %>
</p>

<p>
  <strong>Access:</strong>
  <%= @dictionary.access %>
</p>

<p>
  <strong>User:</strong>
  <%= @dictionary.user_id %>
</p>

<p>
  <strong>Languaje:</strong>
  <%= @dictionary.languaje_id %>
</p>

<p>
  <strong>Languaje:</strong>
  <%= @dictionary.languaje_id %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
