<%= form_for(@languaje) do |f| %>
  <% if @languaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@languaje.errors.count, "error") %> prohibited this languaje from being saved:</h2>

      <ul>
      <% @languaje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
