<h1>Listing languajes</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @languajes.each do |languaje| %>
      <tr>
        <td><%= languaje.text %></td>
        <td><%= link_to 'Show', languaje %></td>
        <td><%= link_to 'Edit', edit_languaje_path(languaje) %></td>
        <td><%= link_to 'Destroy', languaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Languaje', new_languaje_path %>
